header{
    background-color: blue;
    border-width: 8px;
}

nav{
    background-color: cornflowerblue;
    text-align: center;
    word-spacing: 5px;
}

div{
    background-color: skyblue;
}

button:hover{
    transition: 300ms;
    box-shadow: grey 7px 7px 3px;
    background-color: hotpink;
}

button{
    border-radius: 30% ; 
    background-color: greenyellow;
}