header{
    background-color: blue;
    border-width: 8px;
}

h1{
    text-align: center;
}

nav{
    background-color: cornflowerblue;
    text-align: center;
    word-spacing: 5px;
}

div{
    background-color: skyblue;
}

button:hover{
    transition: 300ms;
    box-shadow: grey 7px 7px 3px;
    background-color: hotpink;
}

button{
    transition: .7s;
    border-radius: 30% ; 
    background-color: greenyellow;
}

body{
    background-color:rgb(160, 159, 159);
}

.submit{
    background-color: red; 
    transition: .7s;
}
.submit:hover{
    transition: 300ms;
    box-shadow: 3px 3px 2px;
    background-color: rgb(107, 0, 0);
    color:grey;
}